 .row {
     padding: 1.6rem 4rem;
 }

 .row_maintitle {
     text-align: center;
     margin: 20px 0;
     font-size: 2.5rem;
 }

 .row_movies {
     display: flex;
     padding: 20px;
     overflow-y: hidden;
     overflow-x: scroll;
 }

 .row_movies::-webkit-scrollbar {
     display: none;
 }

 .row_movie {
     display: flex;
     flex-direction: column;
     max-height: 400px;
     margin-right: 20px;
 }

 .row_movie img {
     max-height: 350px;
     object-fit: contain;
     transition: transform 0.5s;
     border-radius: 10px;
     cursor: pointer;
 }

 .row_movie img:hover {
     transform: scale(1.07);
 }

 .row_title {
     text-align: center;
     margin: 15px auto;
     width: 100%;
     font-size: 1rem;
 }

 .row_details {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0 0.6rem;
 }

 .row_releaseDate {
     font-size: 1.1rem;
 }

 .row_rating i,
 .row_rating .header_rating {
     font-size: 1.1rem;
 }

 .row_menu {
     display: flex;
     justify-content: space-between;
     padding: 1.7rem 1rem;
 }

 .row_line {
     width: 90%;
     height: 2px;
     background-color: var(--p-grey);
     border-radius: 10px;
     margin: 5px auto;
     opacity: 0.7;
 }

 .row_genres {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     gap: 1.4rem;
     width: 95%;
     margin: 0 auto;
     margin-top: 40px;
 }

 .row_genres button {
     padding: 0.8rem 1.1rem;
     font-size: 1.2rem;
     border-radius: 50px;
     color: var(--white-color);
     background-color: var(--button-back);
     cursor: pointer;
 }

 .row_genres button:hover {
     background-color: var(--red-color);
 }

 .row_genres .clicked {
     background-color: var(--red-color);

 }

 /* phone responsive  */

 @media screen and (max-width: 427px) {
     .row {
         padding: 1.1rem 1rem;
     }

     .row_maintitle {
         margin: 10px 0;
         font-size: 2.2rem;
     }

     .row_movie {
         max-height: 300px;
     }

     .row_movie img {
         max-height: 240px;
     }

     .row_movie img:hover {
         transform: scale(1.05);
     }

     .row_title {
         font-size: 0.74rem;
         margin: 10px 0;
     }

     .row_details {
         padding: 0 0.6rem;
     }

     .row_releaseDate {
         font-size: 0.9rem;
     }

     .row_rating i,
     .row_rating .header_rating {
         font-size: 0.9rem;
     }

     .row_genres {
         gap: 1rem;
         margin-top: 20px;
     }

     .row_genres button {
         padding: 0.8rem 1rem;
         font-size: 1rem;
     }
 }

 /* tablet responsive  */

 @media screen and (min-width: 427px) and (max-width: 820px) {
     .row {
         padding: 1.4rem 1.3rem;
     }

     .row_maintitle {
         margin: 15px 0;
         font-size: 2.4rem;
     }

     .row_movie {
         max-height: 350px;
     }

     .row_movie img {
         max-height: 280px;
     }

     .row_movie img:hover {
         transform: scale(1.06);
     }

     .row_title {
         font-size: 0.85rem;
         margin: 15px 0;
     }

     .row_releaseDate {
         font-size: 1rem;
     }

     .row_rating i,
     .row_rating .header_rating {
         font-size: 1rem;
     }

     .row_genres {
         gap: 1.2rem;
         margin-top: 20px;
     }

     .row_genres button {
         padding: 1rem 1.2rem;
         font-size: 1.1rem;
     }
 }